
    body{
        font-size:30px ;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h1{font-size: 25px;
    }
.Principal1{
    background-color: lightcyan;
    padding: 5px;
    display:grid;
    grid-template-columns:100%  ;
    grid-template-rows: auto ;
    align-items: center;
}

.Principal2{
    background-color: lightcyan;
    padding: 5px;
    display:grid;
    grid-template-columns:auto 20% 20%  ;
    grid-template-rows: auto ;
    align-items: auto;
}

.Principal3{
    background-color: lightcyan;
    padding: 5px;
    display:grid;
    grid-template-columns:35% auto ;
    grid-template-rows: auto ;
    align-items: auto;}

.Principal4{
        background-color: lightcyan;
        padding: 5px;
        display:grid;
        grid-template-columns: auto 20%;
        grid-template-rows: auto 20%  ;
        align-items: auto;
}
.clas1{
    margin: 0px;
    border-style: solid;
    border-color: lightpink;
}

.clas2{
    margin: 0px;
    border-style: solid;
    border-color: lightpink;
    grid-column: 1/2;

}



.caja1{
    order: 1;
    width:120px;
height: 120px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;font-weight: bold;
flex-grow: 1;
border:1px solid #ccccccdb ;    
}
.caja2{
    order: 2;
    width:120px;
height: 120px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;font-weight: bold;
flex-basis: 55%; 
border:1px solid #ccccccdb ;  
}
.caja3{
    order: 3;
    width:120px;
height: 120px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;font-weight: bold;
flex-grow: 1; 
border:1px solid #ccccccdb ;
}

.T1{

align-content: center;

display: flex;
flex-direction:row ;
flex-wrap: wrap;
justify-content:flex-start ;
}

.c1{border: 1;
margin-left: 5%;
margin-top: 5%;   
width:90%;
height: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;font-weight: bold;
flex-grow: 1;
border:1px solid #ccccccdb ;    }


    
